<div>
  <h1>Baccart</h1>
  <div>
    <h3>算牌</h3>
    <div>
      <table>
        <tr  *ngFor="let card of cards | keyvalue">
          <td>{{card.key | uppercase}}</td>
          <td>{{card.value}}</td>
        </tr>
      </table>
    </div>
    <h3>记录: {{credit}}</h3>
    <table>
      <tr>
        <td>庄</td>
        <td>{{records.banker}}</td>
        <td>平</td>
        <td>{{records.tie}}</td>
        <td>闲</td>
        <td>{{records.player}}</td>
      </tr>
    </table>
    <div *ngIf="!firstCardDrawed">
      <label for="firstDraw">First Draw</label>
      <input type="text" #firstDraw name="firstDraw" (keyup.enter)="firstDrawCard(firstDraw.value)">
    </div>
    <div *ngIf="firstCardDrawed">
      <label for="player">闲: </label>
      <input [(ngModel)]="player" name="player" >    
      <label for="banker">庄: </label>
      <input [(ngModel)]="banker" name="banker" >
      <br>
      <button (click)="recordAndPredict()">记录与预测</button>  
    </div>
  </div>
  <button (click)="reset()">Start New Game</button>
</div>